# ignore the following directories
20*\
imageanalysis\20*
__pycache__\
.*/__pycache__/
"awg\AWG template sequence"
awg\AWG_power_calibration
.vscode/

# ignore the following files
log.txt
log.txt*
*.pyc
*.pyo
