# ignore the following directories
20*/
imageanalysis/2020/
__pycache__/
.*/__pycache__/
"awg/AWG template sequence/"
awg/AWG_power_calibration/
.vscode/

# ignore the following files
state
log.txt
log.txt*
*.pyc
*.pyo
