image_path=D:\Results\atom_images
ROIs=[[29, 30, 4, 4, 155], [24, 32, 4, 4, 0], [19, 36, 4, 4, 893], [51, 33, 4, 4, 900], [94, 99, 4, 4, 1]]
num_images=2
num_saia=4
pic_height=65
last_image=.
num_reim=2
bias=697
window_pos=[600, 50, 10, 200, 600, 400]
results_path=Z:\Tweezer\Experimental Results
num_coim=1
pic_width=65
