pic_height=65
results_path=Z:\Tweezer\Experimental Results
num_coim=0
last_image=.
window_pos=[600, 50, 10, 200, 600, 400]
ROIs=[[21, 33, 4, 4, 155], [139, 91, 4, 4, 155], [57, 98, 4, 4, 893], [109, 98, 4, 4, 900], [94, 99, 4, 4, 1]]
image_path=D:\Results\atom_images
pic_width=65
num_images=2
bias=697
num_saia=2
num_reim=1
