num_saia=4
image_path=D:\Results\atom_images
pic_width=351
last_image=.
window_pos=[600, 50, 10, 200, 600, 400]
bias=697
pic_height=351
num_reim=2
num_coim=0
results_path=Z:\Tweezer\Experimental Results
ROIs=[[22, 43, 4, 4, 155], [28, 26, 4, 4, 155], [36, 39, 4, 4, 893], [53, 41, 4, 4, 900], [94, 99, 4, 4, 1]]
num_images=2
